/* // import "../../index.css"; */

.navbar{
    background-color: #222;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1rem;
}

.lists{
display: grid;
grid-template-columns: repeat(3,1fr);
text-align: center;
text-transform: uppercase;
align-self: center;
/* font-family: monospace; */
font-size: 1.3rem;
}
.nav-links{
    color: #ececec;
    text-decoration: none;
    transition: all .3s linear;
}
.nav-links:hover{
    color: #82b340;
}